body{

    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:white;
    color: rgb(1, 19, 1);
}